{% extends "base.html" %}
{% block title %}{{ content.path }}{% endblock %}

{% block js %}
<script src="/static/index.js"></script>
<script>
$(document).ready(main);
</script>
{% endblock %}

{% block content %}
<ul class="breadcrumbs">
{% for entry in breadcrumbs %}
    <li>
    {% if loop.last %}
        <span class="breadcrumb breadcrumb-last"/>
    {% else %}
        <a class="breadcrumb" href="{{ url_for_entry(entry) }}">
    {% endif %}
        {{ entry.name }}
    {% if loop.last %}
        </span>
    {% else %}
        </a>
    {% endif %}
    </li>
{% endfor %}
</ul>

<div class="vspace"></div>

<div id="player">
    <div class="player-hud">
        <div class="song-text">
            <span id="song-name">&nbsp;</span>
            - <span id="song-duration">0:00</span>
        </div>
        <div class="player-slider-container">
            <div id="player-slider" class="ui-slider"></div>
        </div>
    </div>
    <div class="player-buttons">
        <button id="player-prev">|◀</button>
        <button id="player-play">▶</button>
        <button id="player-next">▶|</button>
    </div>
    <audio id="audio"/>
</div>

{% if content.dirs %}
<h1>Folders</h1>
{% endif %}
<ul class="fslist dirlist">
{% for entry in content.dirs %}
    <li>
        <a href="{{ url_for_entry(entry) }}">{{ entry.name }}</a>
    </li>
{% endfor %}
</ul>

{% if content.files %}
<h1>Files</h1>
{% endif %}
<ul class="fslist playlist">
{% for entry in content.files %}
    {% if entry.mimetype.startswith("audio") %}
    <li class="playlist-entry" data-mimetype="{{ entry.mimetype }}" data-raw-url="{{ raw_url_for_entry(entry) }}" data-name="{{ entry.name }}">
        <a class="entry-link" href="#"><span class="play-indicator">▶</span> {{ entry.name }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
