/* Misc */
.vspace {
    clear: both;
    height: 1em;
}

/* Player */
#player {
}

.player-hud {
    background-color: #ecf0f1;
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 2px;
    color: #333;
}

.song-text {
    font-size: 120%;
    padding: 16px 12px;
    text-align: center;
}

.player-buttons {
    height: 2em;
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -80px;
    width: 160px; /* button-width * 3 + radius * 2 */
    background-color: #3498db;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5px; /* == radius */
}

.player-buttons button {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50px;
    border: none;
    background-color: inherit;
    color: white;
    text-align: center;
    font-weight: bold;
}

#player-slider-container {
    margin-top: 2em;
}

.ui-slider {
    position: relative;
    text-align: left;
    background-color: #2980b9;
    height: 6px;
    border-radius: 3px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    background-color: #3498db;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: -7px;
    margin-left: -6px;
}

.player-slider-container {
    padding: 8px;
}

/* breadcrumbs */
ul.breadcrumbs {
    list-style: none;
    padding: 0;
    height: 2em;
    margin-bottom: 2em;
}

ul.breadcrumbs li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    background-color: #3498db;
    color: white;
    min-width: 4em;
    border-right: 1px dotted #1a5f81;
}

ul.breadcrumbs li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.breadcrumbs li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #2980b9;
    border-right: none;
}

ul.breadcrumbs li .breadcrumb {
    display: block;
    padding: 0 1em;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

a.breadcrumb {
    text-decoration: none;
    font-weight: bold;
}

a.breadcrumb, a:visited.breadcrumb {
    color: white;
}

/* fslist */
ul.fslist {
    list-style: none;
    padding: 0;
}

ul.fslist li {
    border-bottom: 1px dotted #3498db;
}

ul.fslist li:last-child {
    border-bottom: none;
}

ul.fslist li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px 0;
}

ul.fslist li a:visited {
    color: black;
}

.play-indicator {
    color: #3498db;
}
